button{
    text-align: center;
    border-style:inset;
    background-color: aliceblue;
    border-radius: 5px;
    border: none;
    width: 50%;
    color: black;
    background:transparent;

}
body{
    background-color: bisque;
    background-size: cover;
}
fieldset{
    border-radius: 15px;
    background-color: antiquewhite;
}
button:hover{
    background-color: black;
    color: aliceblue;
    border: none;
    cursor: pointer;
}
input[type=text], input[type=password] ,input[type=tel],input[type=email]{
    border:none;
    border-bottom: 1px solid black;
    background-color: antiquewhite;
}
form{
    padding-top: 10%;
    display: flex;
    justify-content: center;

}